// Section form_edit_wrapper
#form_edit_wrapper {

    .form-group {
        margin-bottom: 30px;

        label {
            font-size: 18px;
            font-weight: 600;
            color: rgba(214, 209, 209, 0.867);
        }
    }
}